.banner {
    background-color: #63a7f3;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    
  }

@media (max-width: 575.98px) {

}

.card-title {
    color: blue;
}

.align-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-link {
    background-color: orange;
}

.category-align {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
}